:root {
    --sl-color-accent-high: hsl(258, 79%, 72%);
    --sl-color-accent: hsl(258, 61%, 66%);
    --sl-color-accent-low: hsl(258, 55%, 57%);
    --sl-hero-color: hsla(258, 61%, 66%, 30%);
}

:root[data-theme='light'] {
    --sl-color-accent-high: hsl(257, 49%, 42%);
    --sl-color-accent: hsl(257, 54%, 59%);
    --sl-color-accent-low: hsl(257, 52%, 75%);
    --sl-hero-color: hsla(257, 70%, 70%, 25%);
}

[data-has-hero] header {
    border-bottom: 1px solid transparent;
    background-color: transparent;
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
}


[data-has-hero] .hero > img {
    filter: 
        drop-shadow(0 0 5rem var(--sl-hero-color))
        drop-shadow(0 0 20px rgba(138, 84, 255, 0.6))
        drop-shadow(0 0 40px rgba(138, 84, 255, 0.4))
        drop-shadow(0 0 60px rgba(138, 84, 255, 0.2));
    animation: bob 3s ease-in-out infinite;
    animation-delay: 0.5s;
}

/* Logo bobbing animation keyframes */
@keyframes bob {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-16px);
    }
}
